    <button routerLink="/baitap1" type="button" class="btn btn-link">Bài tập 1</button>
    <button routerLink="/baitap2" type="button" class="btn btn-link">Bài tập 2</button>
    <button routerLink="/baitap3" type="button" class="btn btn-link">Bài tập 3</button>
    <button routerLink="/baitap4" type="button" class="btn btn-link">Bài tập 4</button>
    <button routerLink="/baitap5" type="button" class="btn btn-link">Bài tập 5</button>
    <button routerLink="/baitap6" type="button" class="btn btn-link">Bài tập 6</button>
    <button routerLink="/baitap7" type="button" class="btn btn-link">Bài tập 7</button>
    <button routerLink="/baitap8" type="button" class="btn btn-link">Bài tập 8</button>
    <router-outlet></router-outlet>